config/bazarr/*
config/cross-seed/*
config/certbot/conf/*
config/certbot/www/*
config/jellyfin/*
!config/jellyfin/Dockerfile
config/nginx/conf/*.trewhitt.se.conf
config/prowlarr/*
config/radarr/*
config/sonarr/*
config/transmission/*
config/transmission/vpn/*
!config/transmission/transmission-home/AddTransmissionTrackers.sh
portainer-data/*
library/movies/*
library/tvshows/*
downloads/*
.env
!/**/.gitkeep
