config/*
vpn/*
portainer-data/*
library/movies/*
library/tvshows/*
downloads/completed/*
downloads/incomplete/*
downloads/transmission-home/*
!downloads/transmission-home/AddTransmissionTrackers.sh
.env
!/**/.gitkeep
